@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap");

/* Variables */
:root {
  --color-primary: #754ef9;
  --color-secondary: #000000;
  --bs-font-sans-serif: "Lato", sans-serif;
  --bs-body-font-family: "Lato", sans-serif;
  --bs-font-monospace: "Lato", monospace;
}

.btn-primary {
  background-color: var(--color-primary);
  color: #fff;
  font-family: var(--bs-font-sans-serif);
  border: 1px solid var(--color-primary);
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  --bs-btn-bg: #754ef9;
  --bs-btn-border: #754ef9;
  --bs-btn-color: #ffffff;
  --bs-btn-hover-bg: #ffffff;
  --bs-btn-hover-color: #754ef9;
  --bs-btn-hover-border: #754ef9;
  --bs-btn-focus-bg: #ffffff;
  --bs-btn-focus-color: #754ef9;
  --bs-btn-focus-border: #754ef9;
  --bs-btn-active-bg: #ffffff;
  --bs-btn-active-color: #754ef9;
  --bs-btn-active-border: #754ef9;
}

div#root {
  width: 100%;
  height: 100%;
}

/* Typo */
h2 {
  color: #ffffff;
  font-family: var(--bs-font-sans-serif);
  font-weight: bold;
}

h3 {
  color: #ffffff;
  font-family: var(--bs-font-monospace);
  font-size: 1.2rem;
  font-style: italic;
}

.pt-10 {
  padding-top: 10rem;
}

/* Hero Left */
.hero-left {
  background-color: var(--color-primary);
}

.hero-avatar {
  max-width: 513px;
  position: absolute;
  top: 20%;
  left: 20%;
  border: 3px solid #fff;
}

/* Nav Bar */
.button-dl {
  background-color: var(--color-primary);
  color: #fff;
  font-family: var(--bs-font-sans-serif);
  font-weight: bold;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}

.button-dl:hover {
  background-color: #ffffff;
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
}

.nav-link-hover:hover {
  color: var(--color-primary);
  border-bottom: 2px solid var(--color-primary);
}

/* Hero Right */
.hero-right-title {
  font-family: var(--bs-font-sans-serif);
  position: relative;
  padding-top: 20%;
}
.hero-right-title h1 {
  position: absolute;
  right: 20%;
  font-size: 6rem;
}
.hero-right-title h1:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px var(--color-primary);
}

.hidden {
  display: none !important;
}

.hero-right-title h1:nth-child(2) {
  color: var(--color-primary);
  animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}

.hero-right {
  position: relative;
}

.hero-right-subtitle h2 {
  font-family: var(--bs-font-sans-serif);
  color: var(--color-primary);
  font-size: 1.5rem;
  position: absolute;
  right: 60%;
  padding-top: 10%;
}

/* Social Media */
.hero-right-social {
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  right: -3%;
  animation: opening 1.5s ease-in-out;
}

@keyframes opening {
  0% {
    right: -50%;
  }

  100% {
    right: -3%;
  }
}

.hero-right-social p {
  font-family: var(--bs-font-sans-serif);
  color: var(--color-primary);
  transform: rotate(90deg);
  font-size: 1.5rem;
}

.hero-right-social .social-icons ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.hero-right-social a {
  color: var(--color-primary);
  font-size: 1.5rem;
  padding: 0 10px;
}

/* Cards */

/*Profile Card 1*/
.profile-card-1 {
  font-family: var(--bs-font-sans-serif);
  overflow: hidden;
  color: var(--color-primary);
  text-align: center;
  width: 400px;
  height: 500px;
  background-color: #ffffff;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
  border: 2px solid rgba(255, 255, 255, 1);
}
.profile-card-1 .card-content {
  width: 100%;
  padding: 15px;
  position: absolute;
  left: 0;
  top: 50%;
}
.profile-card-1 .profile {
  position: absolute;
  bottom: 50%;
  left: 50%;
  opacity: 1;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
  border: 2px solid rgba(255, 255, 255, 1);
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  border-radius: 30%;
  padding: 10px;
}
.profile-card-1 h2 {
  margin: 0 0 5px;
  font-weight: 600;
  font-size: 25px;
  color: var(--color-primary);
  font-family: var(--bs-font-sans-serif);
}
.profile-card-1 h2 small {
  display: block;
  font-size: 15px;
  margin-top: 10px;
  font-family: var(--bs-font-sans-serif);
}
.profile-card-1 i {
  background-color: #fff;
  color: var(--color-primary);
  text-decoration: none;
  font-size: 62px;
}

.miniatures {
  height: 100% !important;
}

.miniatures:hover {
  transform: scale(1.1);
}

/* Contact */
a:focus {
  outline: none !important;
}

input {
  outline: none;
  border: none;
}
textarea {
  outline: none;
  border: none;
}
textarea:focus,
input:focus {
  border-color: transparent !important;
}
input:focus::-webkit-input-placeholder {
  color: transparent;
}
input:focus:-moz-placeholder {
  color: transparent;
}
input:focus::-moz-placeholder {
  color: transparent;
}
input:focus:-ms-input-placeholder {
  color: transparent;
}
textarea:focus::-webkit-input-placeholder {
  color: transparent;
}
textarea:focus:-moz-placeholder {
  color: transparent;
}
textarea:focus::-moz-placeholder {
  color: transparent;
}
textarea:focus:-ms-input-placeholder {
  color: transparent;
}
input::-webkit-input-placeholder {
  color: #999;
}
input:-moz-placeholder {
  color: #999;
}
input::-moz-placeholder {
  color: #999;
}
input:-ms-input-placeholder {
  color: #999;
}
textarea::-webkit-input-placeholder {
  color: #999;
}
textarea:-moz-placeholder {
  color: #999;
}
textarea::-moz-placeholder {
  color: #999;
}
textarea:-ms-input-placeholder {
  color: #999;
}
button {
  outline: none !important;
  border: none;
  background: 0 0;
}
button:hover {
  cursor: pointer;
}
iframe {
  border: none !important;
}
.bg-contact2 {
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.container-contact2 {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
.wrap-contact2 {
  width: 790px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 72px 55px 90px;
}
.contact2-form {
  width: 100%;
}
.contact2-form-title {
  display: block;
  font-family: var(--bs-body-font-family);
  font-size: 39px;
  color: #333;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 90px;
}
.wrap-input2 {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #adadad;
  margin-bottom: 37px;
}
.input2 {
  display: block;
  width: 100%;
  font-family: var(--bs-body-font-family);
  background-color: hsla(0, 0%, 97%, 0.726);
  font-size: 15px;
  color: #555;
  line-height: 1.2;
}
.focus-input2 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}
.focus-input2::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  background: var(--color-primary);
}
.focus-input2::after {
  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  font-family: var(--bs-body-font-family);
  font-size: 13px;
  color: #999;
  line-height: 1.2;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
input.input2 {
  height: 45px;
}
input.input2 + .focus-input2::after {
  top: 16px;
  left: 0;
}
textarea.input2 {
  min-height: 115px;
  padding-top: 13px;
  padding-bottom: 13px;
}
textarea.input2 + .focus-input2::after {
  top: 16px;
  left: 0;
}
.input2:focus + .focus-input2::after {
  top: -13px;
}
.input2:focus + .focus-input2::before {
  width: 100%;
}
.has-val.input2 + .focus-input2::after {
  top: -13px;
}
.has-val.input2 + .focus-input2::before {
  width: 100%;
}
.container-contact2-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 13px;
}
.wrap-contact2-form-btn {
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 2px;
  width: auto;
  overflow: hidden;
  margin: 0 auto;
}
.contact2-form-bgbtn {
  position: absolute;
  z-index: -1;
  width: 300%;
  height: 100%;
  background-color: var(--color-primary);
  top: 0;
  left: -100%;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
.contact2-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 244px;
  height: 50px;
  font-family: var(--bs-body-font-family);
  background-color: var(--color-primary);
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
}
.wrap-contact2-form-btn:hover .contact2-form-bgbtn {
  left: 0;
}

.is-valid {
  display: none;
  border-color: #28a745;
  color: #28a745;
}

i.is-valid {
  animation: valid 0.5s;
}

.is-visible {
  display: block;
}

@keyframes valid {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.validate-input {
  position: relative;
}
.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: #fff;
  border: 1px solid #c80000;
  border-radius: 2px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0;
  pointer-events: none;
  font-family: var(--bs-body-font-family);
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
.alert-validate::after {
  content: "\f12a";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 16px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 8px;
}
.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}
@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}

/* Scroll to top arrow */
.scroll-to-top-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999999;
  font-size: 24px;
  transition: all 0.3s ease;
  opacity: 0.5;
  border: none;
  outline: none;
  background: transparent;
  color: var(--color-primary);
}

.scroll-to-top-button:hover {
  opacity: 1;
  cursor: pointer;
}

.scroll-to-top-button.show {
  opacity: 1;
}
