@media (max-width: 576px) {
  .wrap-contact2 {
    padding: 72px 15px 90px;
  }
  .card {
    margin-bottom: 30px;
  }
  .card .card-header {
    padding: 10px 15px;
  }
  .img-fluid.rounded-circle.hero-avatar {
    width: 100%;
    height: auto;
  }
  .hero-avatar {
    position: initial;
  }
  .hero-right {
    display: none;
  }

  /* Navbar */
  .navbar {
    padding: 0;
  }
  .navbar-toggler {
    display: block;
    margin: 0 auto;
  }
  .navbar-nav {
    display: flex;
    flex-direction: column !important;
    background-color: #fff;
  }
  nav.navbar.navbar-default.navbar-fixed-top.navbar-expand-lg,
  button.navbar-toggler {
    position: absolute;
    top: 0.2em;
    right: 0.2em;
    z-index: 999;
  }
  div#navbarCollapse {
    min-width: 100vw;
    padding-left: 0.3em;
  }
  .button-dl {
    color: var(--bs-nav-link-color);
    background-color: #fff;
    outline: none;
  }
  .button-dl:hover {
    color: var(--bs-nav-link-hover-color);
    background-color: #fff;
  }
  .nav-item.ms-5 {
    margin-left: 0 !important;
  }

  /* Hidden */
  .hero-right-social {
    display: none;
  }
  .scroll-to-top-button {
    display: none;
  }
  .col-md-10.mx-auto.col-lg-7 > .min-vh-100 {
    min-height: 0 !important;
  }
  .hidden {
    display: flex !important;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .wrap-contact2 {
    padding: 72px 15px 90px;
  }
  .card {
    margin-bottom: 30px;
  }
  .card .card-header {
    padding: 10px 15px;
  }
  .img-fluid.rounded-circle.hero-avatar {
    width: 100%;
    height: auto;
  }
  .hero-avatar {
    position: initial;
  }
  .hero-right {
    display: none;
  }

  /* Navbar */
  .navbar {
    padding: 0;
  }
  .navbar-toggler {
    display: block;
    margin: 0 auto;
  }
  .navbar-nav {
    display: flex;
    flex-direction: column !important;
    background-color: #fff;
  }
  nav.navbar.navbar-default.navbar-fixed-top.navbar-expand-lg,
  button.navbar-toggler {
    position: absolute;
    top: 0.2em;
    right: 0.2em;
    z-index: 999;
  }
  div#navbarCollapse {
    min-width: 100vw;
    padding-left: 0.3em;
  }
  .button-dl {
    color: var(--bs-nav-link-color);
    background-color: #fff;
    outline: none;
  }
  .button-dl:hover {
    color: var(--bs-nav-link-hover-color);
    background-color: #fff;
  }
  .nav-item.ms-5 {
    margin-left: 0 !important;
  }

  /* Hidden */
  .hero-right-social {
    display: none;
  }
  .scroll-to-top-button {
    display: none;
  }
  .col-md-10.mx-auto.col-lg-7 > .min-vh-100 {
    min-height: 0 !important;
  }
  .hidden {
    display: flex !important;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .wrap-contact2 {
    padding: 72px 15px 90px;
  }
  .card {
    margin-bottom: 30px;
  }
  .card .card-header {
    padding: 10px 15px;
  }
  .img-fluid.rounded-circle.hero-avatar {
    width: 100%;
    height: auto;
  }
  .hero-avatar {
    position: initial;
  }
  .hero-right {
    display: none;
  }

  /* Navbar */
  .navbar {
    padding: 0;
  }
  .navbar-toggler {
    display: block;
    margin: 0 auto;
  }
  .navbar-nav {
    display: flex;
    flex-direction: column !important;
    background-color: #fff;
  }
  nav.navbar.navbar-default.navbar-fixed-top.navbar-expand-lg,
  button.navbar-toggler {
    position: absolute;
    top: 0.2em;
    right: 0.2em;
    z-index: 999;
  }
  div#navbarCollapse {
    min-width: 100vw;
    padding-left: 0.3em;
  }
  .button-dl {
    color: var(--bs-nav-link-color);
    background-color: #fff;
    outline: none;
  }
  .button-dl:hover {
    color: var(--bs-nav-link-hover-color);
    background-color: #fff;
  }
  .nav-item.ms-5 {
    margin-left: 0 !important;
  }

  /* Hidden */
  .hero-right-social {
    display: none;
  }
  .scroll-to-top-button {
    display: none;
  }
  .col-md-10.mx-auto.col-lg-7 > .min-vh-100 {
    min-height: 0 !important;
  }
  .hidden {
    display: flex !important;
  }
}

@media (min-width: 993px) and (max-width: 1200px) {
  .wrap-contact2 {
    padding: 72px 15px 90px;
  }
  .card {
    margin-bottom: 30px;
  }
  .card .card-header {
    padding: 10px 15px;
  }
  .img-fluid.rounded-circle.hero-avatar {
    width: 100%;
    height: auto;
  }
  .hero-avatar {
    position: initial;
  }

  /* Hidden */
  .hero-right-social {
    display: none;
  }
  .hero-right {
    display: block;
  }
  .hero-right-title h1 {
    font-size: 3.5rem;
    right: 21%;
  }
}

@media (min-width: 1201px) and (max-width: 1400px) {
  .wrap-contact2 {
    padding: 72px 15px 90px;
  }
  .card {
    margin-bottom: 30px;
  }
  .card .card-header {
    padding: 10px 15px;
  }
  .img-fluid.rounded-circle.hero-avatar {
    width: 100%;
    height: auto;
  }
  .hero-avatar {
    position: initial;
  }

  /* Hidden */
  .hero-right-social {
    display: none;
  }
  .hero-right {
    display: block;
  }
  .hero-right-title h1 {
    font-size: 3.7rem;
    right: 21%;
  }
}

@media (min-width: 1401px) and (max-width: 1600px) {
  .wrap-contact2 {
    padding: 72px 15px 90px;
  }
  .card {
    margin-bottom: 30px;
  }
  .card .card-header {
    padding: 10px 15px;
  }
  .img-fluid.rounded-circle.hero-avatar {
    width: 100%;
    height: auto;
  }
  .hero-avatar {
    position: initial;
  }

  /* Hidden */
  .hero-right-social {
    display: none;
  }
  .hero-right {
    display: block;
  }
  .hero-right-title h1 {
    font-size: 5.5rem;
    right: 20%;
  }
}

@media (min-width: 1601px) {
  .wrap-contact2 {
    padding: 72px 15px 90px;
  }
  .card {
    margin-bottom: 30px;
  }
  .card .card-header {
    padding: 10px 15px;
  }
  .img-fluid.rounded-circle.hero-avatar {
    width: 100%;
    height: auto;
  }
  .hero-avatar {
    position: initial;
  }

  /* Hidden */
  .hero-right {
    display: block;
  }
  .hero-right-title h1 {
    font-size: 6rem;
    right: 20%;
  }
}
